.main-input {
  .btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
    min-height: unset;
    height: 100%;
  }

  &.err {
    outline-color: rgba(245, 34, 45, 0.8) !important;

    input::placeholder {
      color: rgba(245, 34, 45, 0.8);
    }
  }

  &.disabled {
    pointer-events: none;
    background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
    color: var(--fallback-bc, oklch(var(--bc) / 0.4)) !important;

    * {
      color: var(--fallback-bc, oklch(var(--bc) / 0.4)) !important;
      background-color: transparent !important;
    }
  }
}
