node_modules
*.json
/build/**/*.js
/script/
/tests/
/docs/
/dist/
/public/*.js
/coverage/
coverage-summary
prettier.config.js
jest.config.js
jest.setup.js
babel.config.js
.eslintrc.js
ci/
vite.config.js
# src/@types/gpro.d.ts
**/*.less
