.icon-item {

  @apply flex items-center justify-center rounded-md transition duration-100 ease-linear hover:bg-white/10 active:bg-white/20;
}

.box-base {
  width: 640px;
  background-color: var(--item-normal-bg) !important;
}

.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
